#inputValue{
width: 100px;
margin-bottom: 5px;
}

p{
margin-left:-160px;
}

ul{
margin-left: 150px;
margin-top: -25px;
list-style-type: none;
}

#conventUSD{
width:175px;
height:25px;font-size:20px;
margin-top: 5px;
}

#conventUAH{
width:175px;
height:25px;
font-size:20px;
margin-top: 5px;
}


#conventRUB{
width:175px;
height:25px;
font-size:20px;
margin-top: 5px;
}

#conventEUR{
width:175px;height:25px;
font-size:20px;
margin-top: 5px;
}


#value1{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value2{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value3{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value4{
color: #9c9c9c;
border:none;
font-family:Arial; 
}

#exchange1,#exchange2,#exchange3,#exchange4{
width: 50px;
}