
h2{
    color: white;
    font-family: "Gotham Rounded", Arial, sans-serif;
}
#mainLabel{

    width: 20%;
    border: 2px solid #71cff4;
    border-radius: 25px;
    margin: 12px auto;
}

body{
    background: url(../images/background8small.jpg)no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
-o-background-size: 100%; /* Opera 9.6+ */
background-size: 100%; /* Современные браузеры */
}

#inputValue{
width: 100px;
margin-bottom: 5px;
}

p{
margin-left:-160px;
}

ul{
margin-left: 150px;
margin-top: -25px;
list-style-type: none;
}

#conventUSD{
width:175px;
height:25px;font-size:20px;
margin-top: 5px;
}

#conventUAH{
width:175px;
height:25px;
font-size:20px;
margin-top: 5px;
}


#conventRUB{
width:175px;
height:25px;
font-size:20px;
margin-top: 5px;
}

#conventEUR{
width:175px;height:25px;
font-size:20px;
margin-top: 5px;
}


#value1{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value2{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value3{
color: #9c9c9c;
border:none;
font-family:Arial; 
}


#value4{
color: #9c9c9c;
border:none;
font-family:Arial; 
}

#exchange1,#exchange2,#exchange3,#exchange4{
width: 50px;
}